*
{
	font-family: 'Raleway-ExtraBold', sans-serif;
}
html , body
{
	margin: 0;
}

header
{
	display: flex;
	justify-content: space-between;
}
#logo
{
	height: 50px;
	padding: 50px;
	padding-bottom: 0;
	padding-top: 35px;
}

header > nav 
{
	display: flex;
	justify-content: space-between;
}

header > nav > a
{
	text-decoration: none;
	font-size: 1.25em;
	color: black;
	padding: 50px;
	padding-bottom: 0;

}
header > nav > a:hover
{
	color: #0065FC;
	border-top: 1px solid #0065FC;
}

#inscrire
{
	color: #0065FC;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.25em;
	border-top: none;

}

/** SubHeader **********************************/

#subHeader
{
	margin : 3em;
}

#subTitle
{
	font-size: 0.6em;
	margin-top: 2px;
	font-weight: normal;
}


#search

{
	border: 0.5px solid #F2F2F2;
	height: 35px;
	line-height: 30px;
	max-width: 300px;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
}

#site-search
{
	border: none;
}

#search > label
{
	height: 35.5px;
	width: 40px;
	text-align: center;
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: -1px;
}
#search > label > i
{
	font-size: 15px;
	padding-top: 10px;
}

#btnSearch
{
	font-size: 10px;
	border: solid 1px #0065FC;
	background-color: #0065FC;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: bold;
	margin-right: -1em;
}
#btnSearch > i
{
	display: none;
}
#filterSection
{
	max-width: 900px;
	margin-top: 1em;
	display: flex;
	justify-content: space-between;	
	line-height: 2em;
	flex-wrap: wrap;
}

#filterTitle
{
	font-weight: bold;
	margin-top: 1em;
}

.filterContainer
{
	margin-left: 1em;
	height: 2em;
	border : 0.1em #F2F2F2 solid;
	margin-top: 1em;
	border-radius: 1em;
}
.filterContainer:hover{
	color: #0065FC;
	transform: scale(1.1);
	transition : transform ease-in-out 0.2s;
}

.filterContainer > i
{
	color: #0065FC;
	background-color: #DEEBFF;
	height: 2em;
	width: 2em;
	border-radius: 1em;
	text-align: center;
	line-height: 2em;
	border: 0.1em solid #DEEBFF;
	margin-top: -0.1em;
	margin-left: -0.1em;
}

.filterTitle
{
	margin-right: 1em;
	margin-left: 1em;
	font-weight: bold;
}


#info
{
	margin-top: 2em;
	line-height: 20px;
	display: flex;
}	

#infoLogo
{
	font-size: 10px;
	color: #0065FC;
	border: 1.5px solid #F2F2F2;
	height : 20px;
	width: 20px;
	border-radius: 20px;
	text-align: center;
	margin-right: 10px;
}


/** SECTION TWO ************************/




#hebergementPopulaire
{
	display: flex;
	margin : 3em;
	justify-content: space-between;
}

#hebergement
{
	background-color: #F2F2F2;
	padding: 2em; 
	border-radius: 20px;
	padding-top: 1em;
}

#showMore
{
	color: black;
	font-weight: 900;
	text-decoration: none;
	font-size: 19px;
}
#showMore > h4
{
	margin: 0;
	margin-left: 0.5em;
}


#cardContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 2em;
}

.card
{
	background-color: white!important;
	margin-right: 3em;
	margin-bottom: 3em;
	padding: 4px;
	border-radius: 20px;
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
}

.subCardContainer
{
	margin-left: 15px;
}


.titleHebergement 
{
	color: black;
	font-weight: 700;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-family: 'Raleway-Bold', sans-serif;
}
.subCardContainer > span
{
	color: black;
}



.imgHebergement
{
	height: 125px;
	width: 250px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}


.starsContainer
{
	margin-top: 0.2em;
}

 .starsContainer > i
 {
 	color: #0065FC;
 	margin-top: 0.5em; 
 	font-size: 11px;
 }



/** POPULAR ASIDE *********************************/


#popular
{
	min-width: 23%;
	margin-left: 2em;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 2em;
	padding-top: 1em;
}
#logoGraph
{
	float: right;
}
#cardPopularContainer
{
	margin-top: 2em;
}

.cardPopular
{
	display: flex;
	flex-direction: row;
	background-color: white;
	padding: 4px;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	margin-bottom: 2em;
	text-decoration: none;
}

.cardPopular > img
{
	height: 150px;
	width: 150px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	object-fit: cover;
}

.subSide
{
	margin-left: 1em;
}
.subSide > span
{
	color: black;
}
.starsContainerPopular
{
	margin-top: 3.5em;;
}
.starsContainerPopular > i
{
	color: #0065FC;
 	margin-top: 0.5em; 
 	font-size: 11px;
}

.emptyStar
{
	color: #d9d9d9!important;
}






/** SECTION THREE ********************/

#activite
{
	margin: 3em;
	margin-top: 5em;

}

#activiteMarseille
{
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	justify-content: space-between;

}
.column
{
	-ms-flex: 20%; /* IE10 */
	flex: 20%;
	max-width: 20%;
	padding: 1em;
}
.column > a
{
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

.hugeActiviteContainer , .littleActiviteContainer
{
	text-decoration-line: none;
}

.hugeActiviteContainer > figure , .littleActiviteContainer > figure
{
	overflow: hidden;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
	height: 35em;
}

.littleActiviteContainer > figure
{
	height :16em;
	margin-bottom: 2.5em;
}
.activiteImg
{
	width: 100%;
	height: 80%;
	object-fit: cover;
	
}
.hugeActiviteContainer > figure > .activiteImg
{
	height: 90%;
}

figcaption
{
	padding: 1em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	text-decoration-color: white;
}

figure
{
	margin: 0;
}

/** SECTION FOUR **************************/

footer
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
	padding-left: 5em;
	padding-right: 15em;
}

footer > ul
{	
	list-style: none;
}
footer > ul > li
{
	margin : 1em;
}
footer > ul > li > h3
{
	font-weight: bolder;
}


@media (max-width: 1400px)
{
	#hebergementPopulaire
	{
		flex-direction: column-reverse;
	}

	#hebergement
	{
		margin-top: 3em;
		min-width: 95%;
		background-color: white;
		padding: 1em;
		margin: 0;
		min-width: 0;
		max-width: 100%;
	}

	#cardPopularContainer
	{
		display: flex;
		flex-flow: wrap;
		justify-content: space-around;
	}
	.cardPopular
	{
		width: 30em;
		margin: 1em;
	}

	figcaption
	{
		padding: 0.75em;
	}
	.column {
		-ms-flex: 45%;
		flex: 45%;
		max-width: 45%;
	  }
	  
	.littleActiviteContainer > figure
	{
		margin-bottom: 2em;;
	}
}







@media (max-width: 760px)
{
	body, html
	{
		overflow-x: hidden;
	}
	#logo
	{
		position: absolute;
		top : 0;
		left:  0;
		padding: 30px;
	}
	header
	{
		margin: 1em;
		text-align: center;
	}
	header > nav
	{
		display: flex;
		flex-wrap: wrap-reverse;
		text-align: center;
		padding: 0;
		width: 100%;
	}
	header > nav > a
	{
		padding: 0;
		width: 50%;
		line-height: 60px;
		border-bottom: 1px solid grey;	

	}
	header > nav > a:hover
	{
		border-top: none;
		border-bottom: solid 1px #0065FC;
	}

	#inscrire
	{
		width: 100%;
		border-bottom: none;
		text-align: right;
		padding: 10px;
	}

	
	#subHeader
	{
		margin : 2em;

	}
	#subHeader > div > h2
	{
		font-size: 1.5em;
	}
	#subTitle
	{
		font-size: 0.75em;
	}
	#search
	{
		max-width: 80%;
	}
	#site-search
	{
		width: 100%;
	}
	#btnSearch
	{
		border-radius: 15px;
		width: 4em;
	}
	#btnSearch > span
	{
		display: none;
	}
	#btnSearch > i
	{
		display: block;
		font-size: 1.3em;
	}


	.filterContainer
	{
		margin: 0;
		margin-top: 0.5em;
	}
	#filterTitle
	{
		width: 100%;
	}

	#hebergement 
	{
		padding: 0;
	}

	#hebergementPopulaire
	{
		margin: 0;
	}

	#popular
	{
		border-radius: 0;
		padding: 1em;
		margin-left: 0;
		margin-bottom: 1em;

	}
	.cardPopular
	{
		margin-bottom: 1em;
	}
	.starsContainerPopular
	{
	margin-top: 2em;
	}
	

	#hebergement > h2
	{
		margin-left: 1em;
	}
	#cardContainer
	{
		justify-content: space-between;
	}
	.card
	{
		margin: auto;
		margin-bottom: 1em;
		overflow: hidden;
	
		width: 90%;
	}
	.imgHebergementContainer
	{
		width: 100%;
		overflow: hidden;
		border-top-right-radius: 15px;
	}
	.imgHebergement
	{
		width: 100%;
	}
	#showMore > h4
	{
		margin : 1.5em;
	}

	#activite
	{
		margin : 1em;
		margin-bottom: 3em;
	}



	.column 
	{
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
		padding: 0;
	}
	
	.littleActiviteContainer > figure 
	{
		height: 150px;
		margin-top: 1.5em;
		margin-bottom: 0;
	}
	.littleActiviteContainer > figure > img
	{
		height: 70%!important;
	}
	.hugeActiviteContainer > figure
	{
		height: 150px;
		margin-top: 1.5em;
		margin-bottom: 0;
	}
	.hugeActiviteContainer > figure > img
	{
		height: 70%!important;
	}
		


	footer
	{
		display: block;
		width: 100%;
		padding: 0;
		padding-top: 1em;
		padding-bottom: 1em;
	}

}



